<div class="col-lg-4">
   
    <form [formGroup]="editForm">
        
        <label for="Product_id">Product_id</label>&nbsp;&nbsp;
        <input type="number" name="product_id" formControlName="product_id">&nbsp;&nbsp;
        <label for="Product_name">Product_name</label>&nbsp;&nbsp;
        <input type="text" name="product_name" formControlName="product_name">&nbsp;&nbsp;
        <label for="Product_id">category_name</label>&nbsp;&nbsp;
        <input type="text" name="category_name" formControlName="category_name">&nbsp;&nbsp;
        <label for="price">price</label>&nbsp;&nbsp;
        <input type="number" name="price" formControlName="price">&nbsp;&nbsp;
        <input type="submit" class="btn btn-primary" value="edit"> &nbsp;&nbsp;
        
        <!-- <p>{{productstatus}}</p> -->
    </form>
</div>

